<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>

	<!--Import Google Icon Font-->
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />

	<!--Import materialize.css-->
	<link type="text/css" rel="stylesheet" href="materialize/css/materialize.min.css" media="screen,projection" />

	<!--Let browser know website is optimized for mobile-->
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

</head>


<body>
	<h5>EVENTO</h5>

	<!--Volta para a Lista de Eventos-->
	<h2><a href="/eventos" class="waves-effect waves-light btn"><i class="material-icons left">cloud_done</i>Lista de
			Evento</a> </h2>

	<div th:each="mostar : ${eventos}" class="container">
		<!--"churras" mesmo do controller-->

		<div class="row">
			<p>Evento: <span th:text="${mostar.reuniao}"> </span></p>
			<p>Local: <span th:text="${mostar.local}"> </span></p>
			<p>Data: <span th:text="${mostar.data}"> </span></p>
			<p>Horário: <span th:text="${mostar.horario}"> </span></p>

		</div>
		
		<th:block th:include="msgValid"> </th:block>

		<form class="container" method="post">	


			<div class="input-field col s3">
				Doc. RG: <input type="text" value="" name="rg" /> <!--	campo rg - igual a da entidade - Brother -->
			</div>


			<div class="input-field col s8">
				Parceiro: : <input type="text" value="" name="convidados" />
				<!-- campo name - igual a da entidade - Brother -->
				</p>
			</div>

			<button class="waves-effect waves-light btn"><i class="material-icons left">cloud_done</i>
				<type="submit">Add
			</button>
		</form>


	</div>


<div class="container" > <h5>Confirmados!</h5> </div>
	
		
	<div class="container" th:each="amigos : ${amigos}">
			
		<div class="row">

			<!-- Mostrar mesma Linha -->

			<div class="input-field col s3">
				<p><span th:text="${amigos.convidados}"> </span></p>
			</div>
			

			<div 
				class="input-field col s3">
				<p><span th:text="${amigos.rg}"> </span></p>
			</div>

		</div>
	</div>




	<!--JavaScript at end of body for optimized loading-->
	<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<script type="text/javascript" src="materialize/js/materialize.min.js"></script>

</body>

</html>